/*rgb(255, 252, 238) cream colour
   rgb(0, 78, 163) darker blue
*/

body
{
  background-color: rgb(255, 252, 238);
}

.container
{
  background-color: rgba(0, 78, 163, 0.7);
}

h1
{
  padding: 6px;
  margin: 1% auto;
  border: 3px solid rgb(0, 78, 163);
  border-radius: 15px;
  background-color: rgb(255, 252, 238);
  text-decoration: underline solid rgb(0, 78, 163);
}

/*navbar and links*/
.navbar
{
  background-color: rgb(0, 78, 163);
  margin-bottom: 15px;
}

a
{
  color: rgb(255, 252, 238);
}

a:hover
{
  color: rgb(214, 221, 4);
}

.toggle-button
{
  width: 25px;
  height: 25px;
  padding: 2px;
}

.close-toggle
{
  float: right;
  margin-right: 10px;
}

.offcanvas-header{ display:none; }

@media (max-width: 992px)
{
  .offcanvas-header{ display:block; }
  .navbar-collapse
  {
    position: fixed;
    z-index: 100;
    top:0;
    right: 0;
    left: 100%;
    width: 100%;
    height: 100%
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show
  {
    visibility: visible;
    transform: translateX(-100%);
  }
}

/** Style for button to create matrices**/
#createButton
{
  border: 3px solid  rgb(0, 78, 163);
  border-radius: 15px;
  background-color: rgb(255, 252, 238);
}
#createButton:hover
{
  background-color: rgb(214, 221, 4);
}

#main
{
    text-align: center;
}

/*Style for matrices and their container*/
.matrixContainer
{
  position: relative;
 width: auto;
 display: flex;
 overflow: auto;
 justify-content: space-evenly safe;
 -webkit-overflow-scrolling: touch;
}

#matrices
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.styleMatrix
{
  padding: 2px;
  margin: 10px;
  flex: 0 0 auto;
}

/**Style for individual cells of the matrices**/
.inputCells
{
  text-align: center;
  font-family: monospace;
  border: solid 2px black;
  width: 55px;
  height: 25px;

}

.inputCells:focus
{
  background-color: #E9823E;
}

/*gets rid of selector arrows in input fields*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputCells
{
  -moz-appearance: textfield;
}

/*Style for calculate, add zero and clear cells buttons*/
#calcDiv
{
  display: flex;
  justify-content: center;
}

#calcButton
{
  border: 3px solid rgb(0, 78, 163);
  border-radius: 15px;
  background-color: rgb(255, 252, 238);
}

#calcButton:hover
{
  background-color:  rgb(214, 221, 4);
}

#addZero
{
  border: 3px solid  rgb(0, 78, 163);
  border-radius: 15px;
  background-color: rgb(255, 252, 238);
}

#addZero:hover
{
  background-color: rgb(214, 221, 4);
}

#clearCells
{
  border: 3px solid  rgb(0, 78, 163);
  border-radius: 15px;
  background-color: rgb(255, 252, 238);
}

#clearCells:hover
{
  background-color: rgb(214, 221, 4);
}


/*cells of the answer matrix*/
.answerCell
{
  border: solid 3px black;
  background-color: white;
  width: 50px;
  height: 20px;
  text-align: center;
}

/*for footer*/
body{min-height: 100vh;}

main{margin-bottom: 15px;}

footer
{
  width: 100%;
  background-color: rgb(0, 78, 163);
}

.githubLink
{
  width: 25px;
  height: 25px;
  padding: 2px;
}
