/*rgb(255, 252, 238) cream colour
   rgb(0, 78, 163) darker blue
*/

body
{
  background-color: rgb(255, 252, 238);
}

.container
{
  background-color: rgba(0, 78, 163, 0.7);
}

.toast
{
  position: absolute;
   top: 0; right: 0;
}

h1
{
  padding: 6px;
  margin: 1% auto;
  border: 3px solid rgb(0, 78, 163);
  border-radius: 15px;
  background-color: rgb(255, 252, 238);
  text-decoration: underline solid rgb(0, 78, 163);
}

.navbar
{
  background-color: rgb(0, 78, 163);
  margin-bottom: 15px;
}

a
{
  color: rgb(255, 252, 238);
}

a:hover
{
  color: rgb(214, 221, 4);
}

/** Style for button to create matrices**/
#createButton
{
  border: 3px solid  rgb(0, 78, 163);
  border-radius: 15px;
  background-color: rgb(255, 252, 238);
}
#createButton:hover
{
  background-color: rgb(214, 221, 4);
}

#main
{
    text-align: center;
}

.styleMatrix
{
  padding: 2px;
  margin: 10px;
  text-align: center;
  border: 5px ridge #1C6EA4;
}

/**Style for individual cells of the matrices**/
input[type="text"]
{
  text-align: center;
  font-family: monospace;
  border: solid 2px black;
  width: 55px;
  height: 25px;
}

input[type="text"]:hover
{
  background-color: #E9823E;
}

#calcDiv
{
  display: flex;
  justify-content: center;
}

#calcButton
{
  border: 3px solid rgb(0, 78, 163);
  border-radius: 15px;
  background-color: rgb(255, 252, 238);
}

#calcButton:hover
{
  background-color:  rgb(214, 221, 4);
}

#addZero
{
  border: 3px solid  rgb(0, 78, 163);
  border-radius: 15px;
  background-color: rgb(255, 252, 238);
}

#addZero:hover
{
  background-color: rgb(214, 221, 4);
}

.answerCell
{
  border:3px solid black;
  background-color: white;
  width: 50px;
  height: 20px;
  text-align: center;
}
